.chatRoom{
    background-color: lightgrey;
    align-items: center;
    width:80%;
    height:100vh;
    margin:auto;
    display: flex;
    flex-direction: row;
}

.roomTitle{
    width:80%;
    height:10%;
    position: absolute;
    top:0;
    background-color: rebeccapurple;
    text-align: center;
}

h3{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.control_bar{
    border-bottom: 3px solid rebeccapurple;
    background-color: white;
    height: auto;
}

.control_button{
    background-color: mediumpurple;
    margin: 1px;
    width: auto;
    height: auto;
    border-radius: 5px;
}

.messagePanel{
    width:100%;
    height: 80%;
    background-color: floralwhite;
    border: 3px solid rebeccapurple;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.messageSending{
    width: 80%;
    height:10%;
    position: absolute;
    bottom:0;
    padding: 10px;
    background-color: rebeccapurple;
}

.newMessage{
    width: 75%;
}

.sendButton{
    width: 10%;
    height: 100%;
    border-radius: 10px;
    margin-left: 15px;
}

.clearButton{
    width: 10%;
    height: 100%;
    border-radius: 10px;
    margin-right: 15px;
}
