/*
Description: Basic ChatRoom page styling
Authors: Manisha
Date: 10/1/2019
*/
.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.ChatPage {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.ChatPage button {
    color: #000000;
    border: 2px solid #fff;
    width: 30%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    border-radius: 15px;
}

.ChatPage button:hover {
    color: #519e8a;
    background-color: #fff;
    border: 2px solid #519e8a;
}

.ChatPage small {
    color: #999;
    font-weight: lighter;
}
