.message{
    margin: 3px;
    padding: 5px;
}

.messageUser{
    width:7%;
    float: left;
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
}

.messageText{
    width:70%;
    float: left;
    text-align: left;
    border-color: whitesmoke;
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
}

.messageTimestamp{
    float: right;
    margin: 2px;
    padding: 5px;
}
