/*
Description: styling the emailSent page
Author: Manisha Miriyala
Date: 11/30/2019
*/

.landing_emailSent{
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-size: 3ch;
}

.landing_emailSentbody{
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5ch;
}

.signup_form_login button {
    background-color: darkblue;
    color: white;
    border: 1px solid #fff;
    width: 20%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    letter-spacing: 0.5px;
    margin-bottom: 0.25em;
    border-radius: 15px;
}