.Home {
    width: 100%;
    height: 100vh;
    font: 16px 'Roboto', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    background: #7678ED;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
    min-height: 80vh;
    border-bottom: .5px solid black;
}

.HomeHeaderButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.HomeLogout {
    float :left;
    background-color: lightgrey;
    color: #000000;
    border: 2px solid #fff;
    width: 13%;
    margin-top: 1em;
    margin-right: auto;
    padding: 8px 2px;
    font-size: 1em;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    border-radius: 5px;
}


.HomeCreateChannel {
    float: right;
    background-color: darkseagreen;
    color: #000000;
    border: 2px solid #fff;
    width: 13%;
    margin-top: 1em;
    margin-left: auto;
    padding: 8px 2px;
    font-size: 1em;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    border-radius: 5px;
}


.HomeJoinChannel {
    background-color: goldenrod;
    color: #000000;
    border: 2px solid #fff;
    width: 13%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    border-radius: 5px;
}



.searchForm {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.searchFormCreated{
    width: 480%;
    margin-left: 50%;
    display: flex;
    flex-direction: column;
}

.HomeLists {
    width: 100%;
    display: flex;
    flex-direction: row;
    

}
.CreatedList{
    width: 28%;
    height: 40vh;
    margin-top: 10px;
    margin: auto;
    color: #b3d7ff;
    background-color: darkslateblue;
    border: 1px solid darkslateblue;
    padding: 5px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    
}

.CreatedList::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.channelsList {
    width: 20%;
    color: #b3d7ff;
    background-color: darkslateblue;
    margin-left: 0px;
    margin-top: 10px;
    border: 1px solid darkslateblue;
    padding: 5px;
}

.channelListItem {
    width: 20%;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}