.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
}

.home_header {
    width: 100%;
    height: 10%;
    background-image: url("https://wallpapertag.com/wallpaper/full/d/f/7/441351-full-size-dark-blue-background-images-1920x1080-windows-xp.jpg");
    display: flex;
    flex-direction: row-reverse;
    alignment: left;
    border-bottom: 2px solid black;
    color: floralwhite;
}

.home_header_name {
    height: 100%;
    width:15%;
    font-size: 15px;
    margin-top: 1%;
}

.home_header_logout {
    height: 100%;
    width:15%;
    margin-right: 0px;
    margin-top: 1%;
}

.home_header_logout button{
    background-color: Transparent;
    border:0px;
    color:white;
    font-size: 15px;
}

.home_body {
    width:100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.home_body_control {
    height:100%;
    width:25%;
    background-color: white;
}

.home_body_control button{
    width:90%;
    height:10%;
    background-color: white;
    text-align: left;
    padding: 5%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid lightgrey;
}

.home_body_control button:hover{
    background-color: lightgrey;
    outline: none;
}

.home_body_operate {
    height:100%;
    width:75%;
    background-color: lightyellow;
}

.home_create_join {
    padding: 5%;
    width:100%;
}

.home_created_channels{
    padding: 5%;
    width:100%;
}

.home_participated_channels{
    padding: 5%;
    width:100%;
}
/*
.HomeCreateNew {
    width: 100%;
    height: 10%;
}

.HomeCreateNew button:focus{
    outline: none;
}

.HomeCreatePublicButton {
    background: url("scheduled.svg") no-repeat;
    background-size: 30%;
    height: 80%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 12%;
    margin-right: 2%;
    text-align: right;
    border: none;
}

.HomeCreatePrivateButton {
    background: url("non_scheduled.svg") no-repeat;
    background-size: 30%;
    height: 80%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 12%;
    margin-left: 2%;
    text-align: right;
    border: none;
}

.SearchBarComponent {
    height: 7%;
    width: 30%;
    margin-top: 3%;
    margin-bottom: 1%;
}

.HomePasscodeInput {
    width: 100%;
    display: flex;
    justify-content: center;
}

.HomePasscodeInput input{
    width: 20%;
}

.searchForm {
    width: 20%;
    display: flex;
    flex-direction: column;
}
.HomePrivateChannel{
    box-sizing: border-box;
    margin-top: -5px;
}

.searchFormCreated {
    width: 500%;
    height: 30vh;
    margin-top: 10px;
    margin-left: 0%;
    border: solid lightgrey 1px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 0px 0px 5px 5px;
}

.searchFormParticipated{
    width: 500%;
    height: 30vh;
    margin-top: 10px;
    margin-left: 0%;
    border: solid lightgrey 1px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 0px 0px 5px 5px;
}
.HomeLists {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.HomeCreateModal {
    position: relative;
    margin: 10px auto 0;
    width: 100%;
}

.CreatedList{
    width: 25%;
    height: 40vh;
    margin-top: 10px;
    position: absolute;
    left: 4%;
    color: #000000;
    background-color: white;
    padding: 5px;
   
    border-radius: 10px;
    box-shadow: 0px 5px 25px #555;
}

.searchFormCreated::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.searchFormParticipated::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.searchInput{
    position: sticky;   
    z-index: 1;         
    top: 0px; 
    width: 400%;
    margin-left: 0%;
    margin-top: -12%;  
}

.searchInputParticipated{
    position: sticky;   
    z-index: 1;         
    top: 0px; 
    width: 400%;
    margin-left: 0%;
    margin-top: -12%;  
}

.ParticipatedList {
    width: 25%;
    height: 40vh;
    margin-top: 10px;
    position: absolute;
    right: 4%;
    color: #000000;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 5px 25px #555;
}

.ParticipatedList::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.channelsList {
    position: relative;
    width: 20%;
    margin-left: 0px;
    margin-top: 50px;
    padding: 0px;
}

#SearchCreated {
    position: sticky;   
    z-index: 1;         
    top: 0px; 
    width: 500%;
    margin-top: -12%;
    margin-left: 0%;
    display: flex;
  
}

#SearchParticipated {
    position: sticky;   
    z-index: 1;         
    top: 0px; 
    width: 500%;
    margin-top: -12%;
    margin-left: 0%;
    display: flex;
  
}


.channelsListParticipated{
    position: relative;
    width: 20%;
    margin-left: 0px;
    margin-top: 50px;
    padding: 0px;
}
.channelListItem {
    width: 20%;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.swal-modal .swal-text {
    text-align: center;
}

.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962B3;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }

.swal-text {
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: center;
    color: #61534e;
  }

.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962B3;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }

  .swal-footer {
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
  }
*/
