.Home {
    width: 100vw;
    height: 100vh;
    font: 16px 'Roboto', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
    min-height: 80vh;
    border-bottom: .5px solid black;
    background: url("Abstract-Envelope.svg");
    background-size: cover;
    background-position: center;
}

.HomeHeaderButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.swal-modal .swal-text {
    text-align: center;
}

/* .swal-wide{
    width:10000px !important;
} */

.HomeLogout {
    float :left;
    background-color: lightgrey;
    color: #000000;
    border: 2px solid #fff;
    width: 13%;
    margin-top: 1em;
    margin-right: auto;
    padding: 8px 2px;
    font-size: 1em;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    border-radius: 5px;
}




.HomeCreateChannel {
    float: right;
    background-color: darkseagreen;
    color: #000000;
    border: 2px solid #fff;
    width: 13%;
    margin-top: 1em;
    margin-left: auto;
    padding: 8px 2px;
    font-size: 1em;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    border-radius: 5px;
}

.SearchBarComponent {
    height: 7%;
    width: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.searchForm {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.searchFormCreated{
    width: 480%;
    margin-left: 50%;
    display: flex;
    flex-direction: column;
}

.HomeLists {
    width: 100%;
    display: flex;
    flex-direction: row;
    

}
.CreatedList{
    width: 28%;
    height: 40vh;
    margin-top: 10px;
    margin-right: 35%;
    margin-left: auto;
    color: #000000;
    background-color: white;
    padding: 5px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 10px;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .1), 0 2px 4px 1px rgba(0, 0, 0, .18);
}

.CreatedList::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.ParticipatedList {
    width: 28%;
    height: 40vh;
    margin-top: 10px;
    margin-right: auto;
    color: #000000;
    background-color: white;
    padding: 5px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 10px;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .1), 0 2px 4px 1px rgba(0, 0, 0, .18);
}

.ParticipatedList::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.channelsList {
    width: 20%;
    margin-left: 0px;
    margin-top: 10px;
    padding: 5px;
}

.channelListItem {
    width: 20%;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962B3;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }


.swal-text {
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: center;
    color: #61534e;
  }



.swal-button {
    /* margin-left: -1000%; */
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962B3;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }

  .swal-footer {
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
  }